---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to GusGorman.com" page="about">

<p class="pb-5">Several years ago, I delivered a speech called “The Five Hackers [Who, What, Why, Where, Why]”. It was a speech about startup founders and developer compatibility. The title was inspired by <a href="https://en.wikipedia.org/wiki/The_Five_People_You_Meet_in_Heaven">"The Five People You Meet in Heaven,"</a> and intended to be a little tongue and cheek.
</p><p class="pb-5">For the visuals I decided on using fictional hackers from movies that represented the types of developers one would encounter while building as startup. The list was meant to be both humorous and informative, providing insight into the personalities and quirks of different types of developers and because I'm a big fan of representation I decided to make them all people of color, and down the rabbit hole I went. (As an aside, big shout out to <a href="https://www.codecademy.com/resources/blog/black-programmers-and-technologists-who-inspire-us/">real-life</a> <a href="https://www.infoworld.com/article/3606070/hidden-figures-7-black-programmers-you-should-know.html">developers of color</a> out there killing the game.)
</p><p class="pb-5">There were some obvious choices, such as Luthor from Mission Impossible or Lord Nikon from Hackers, there were a couple that didn't make the cut, like Steve from Office space, and most of the cast of the Matrix with the exception of Niobe. 
</p><p class="pb-5">A mention in Office Space reminded me that Richard Pryor was in Superman III, a movie I hadn't seen in years. Was it him that pulled the <a href="https://en.wikipedia.org/wiki/Salami_slicing_tactics#Financial_schemes">salami slicing scheme</a>? Yes he was! Not only that, his character <a href="https://superman.fandom.com/wiki/Gus_Gorman">August "Gus" Gorman</a> is introduced to computers as an adult, and soon learns he's nearly a genius with them and able to make a career out it, a parallel path that many developers take. And with not much more research, I decided he'd be my patron saint while acknowledging that the character is largely played as buffoonish. I added him to my list.
</p><p class="pb-5">I went on to do my speech, after a quick post to the <a href="https://devcolor.org/">dev/color</a> slack, I rounded out the list and dropped it in a <a href="https://github.com/tobiaswright/black-programmers-in-film-and-television">public repo</a> and now several years later, GusGorman.com is up. I'm using this mostly as a personal project to learn a couple of new technologies and was inspired by a thought experiment about <a href="https://tomcritchlow.com/2023/01/27/small-databases/">small databases</a>.
</p><p class="pb-5">Enjoy, and please feel free to <a href="https://github.com/tobiaswright/black-programmers-in-film-and-television">submit a pull request</a> if you have an update!
</p><p class="pb-5"><a href="https://www.tobiaswright.com">Tobias Wright, front-end developer</a>
</p>

</Layout>