---
import Layout from '../layouts/Layout.astro';
// import data from '../data/data.json'
---

<Layout title="Welcome to GusGorman.com">
	<main>
		<h1>Welcome to <span class="text-gradient">GusGorman.com</span></h1>
		<h2>A list of black programers, hackers and computer specialist in film and television.</h2>
	</main>
	<div id="content"></div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>

<script>
	import data from '../data/data.json'
console.log("allllloooooo1", data)

const content = document.getElementById('content');
// const loader = document.getElementById('loader');

// const data = [
// {name: "Helen Harris", alias: "Aech", title: "Ready Player One",media:"film",actor: "Lena Waithe"},
// {name: "Alec Hardison", alias: "Leverage",media:"television",actor:"Aldis Hodge"}
// ];

//puts together the character block 32 45 107 110
const entry = (entry) => {
    return `
        <h3>${entry.alias || entry.name}</h3>
        <h4>${entry.media.name}</h4>
        <h5>Actor: ${entry.actor}</h5>
    `

	
}

data.forEach(item => {
	content.innerHTML += entry(item)
});


// fetch('https://aahack-function3.azurewebsites.net/api/getHackers?code=9wQc/ZrC1uRcuoFyhTsv21N2VV/fcrBDY9oomNhcFWg8pz3uPaIeiA==')
//   .then(function(response) {
//     return response.json();
//   })
//   .then(function(data) {
//     //adds the character blocks to the dom
//     Object.keys(data).forEach((item) => {
//       if (!images[item]) {
//         return
//       }
//        content.innerHTML += entry(data[item])
//     });
  
//     content.classList.remove('is-paused');
//     loader.classList.add('hide');
//   });
</script>