---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import items from '../data/data.json';
---

<Layout title="Welcome to GusGorman.com" page="home">

	<ul >
		{items.map((item) => (
			<li class="mb-10"><Card {...item} /></li>
		))}
	</ul>

</Layout>