---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
import items from '../data/data.json';
---

<Layout title="Welcome to GusGorman.com">
	<main>
		<h1>Welcome to GusGorman.com</h1>
		<h2>A list of black programers, hackers and computer specialist in film and television.</h2>
	
	<ul id="content">
		{items.map((item) => (
			<li><Card {...item} /></li>
		))}
		
	</ul>
</main>
</Layout>