---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
import items from '../data/data.json';
---

<Layout title="Welcome to GusGorman.com">
	<main class="container mx-auto">
		<h1 class="text-3xl mt-10">Welcome to GusGorman.com</h1>
		<h2 class="text-2xl">A list of black programers, hackers and computer specialist in film and television.</h2>
	
	<ul id="content" class="mt-10">
		{items.map((item) => (
			<li class="mt-5"><Card {...item} /></li>
		))}
		
	</ul>
</main>
</Layout>