---
import Layout from '../layouts/Layout.astro';
import Table from '../components/Table.astro'
import items from '../data/data.json';
---

<Layout title="Welcome to GusGorman.com" page="table">

    <p>The source data can be found on <a href="https://github.com/tobiaswright/black-programmers-in-film-and-television">github</a> in CVS format.</p>

    <table class="mt-10 w-full">
        <tr class="text-left">
            <th>Name</th>
            <th>Alias</th>
            <th>title</th>
            <th>Media</th>
            <th>Actor</th>
        </tr>
		{items.map((item) => (
			<Table {...item} />
		))}
		
	</table>

</Layout>

<style>
a { @apply text-sky-50 underline hover:text-yellow-100 underline}
</style>