---
import Layout from '../layouts/Layout.astro';
import TableData from '../components/Table.astro'
import { getList } from '../components/Data';

let items = getList();
---

<Layout title="Welcome to GusGorman.com" page="table">

    <p class="pb-8">The source data can be found on <a href="https://github.com/tobiaswright/black-programmers-in-film-and-television">github</a> in CVS format.</p>

    <table class="w-full">
        <thead class="text-left">
            <th class="pl-4">Name</th>
            <th>Alias</th>
            <th>Title</th>
            <th>Media</th>
            <th>Actor</th>
        </thead>
		{items.map((item: any) => (
			<TableData {item} />
		))}
		
	</table>

</Layout>