---
export interface Props {
  name?: string;
  alias?: string;
  title: string;
  media: string;
  actor: string;
}

const { alias, name, title, media, actor } = Astro.props;


let transformName = (name: string): string => {
    return name.split(" ").join("-").toLowerCase()
}

let constructImagePath = (): string => {
  if (alias) {
    return "/images/" + transformName(alias) + ".jpg";
  }
  return "/images/" + transformName(name as string) + ".jpg";
};

const imageSrc = constructImagePath();
---
<li><img src={imageSrc} /></li>
<h3 class="text-lg">{alias || name} in {title}</h3>
<ul>
  <li class="text-sm">Media: {media}</li>
  <li class="text-sm">Portrayed by: {actor}</li>
</ul>
