---
export interface Props {
	name?: string;
    alias?: string;
    title: string;
    media: string;
    actor: string
}

const { alias, name, title, media, actor } = Astro.props;

let imgName = ""
if (alias) {
    imgName = "/images/"+ alias.split(" ").join("-").toLowerCase() + ".jpg"
} else {
    imgName = "/images/" + name?.split(" ").join("-").toLowerCase() + ".jpg"
}
---

<h3>{alias || name} in {title}</h3>
<ul>
    <li><img src={imgName}></li>
	<li>Media: {media}</li>
	<li>Portrayed by: {actor}</li>
</ul>
