---
export interface Props {
	name?: string;
    alias?: string;
    title: string;
    media: string;
    actor: string
}

const { alias, name, title, media, actor } = Astro.props;
---

<h3>{alias || name} in {title}</h3>
<ul>
	<li>Media: {media}</li>
	<li>Portrayed by: {actor}</li>
</ul>
